# Compiled source #
###################
bin
packages
obj
.vs
.vscode
*.suo
*.pdb
*.exe
*.user
*.TestConsole
*.js.map
.rdl.data
.idea
*.dbmdl
*.csproj.user
*.dll
!ConfigImporterExecuter/build/ConfigImporterExecuter.dll
!ConfigImporterExecuter/build/ConfigImporterExecuter.pdb

/Build