<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="fileConfig" value="configs.json"/>

        <add key="sd.address" value="http://172.21.13.84:8500/" />
        <add key="sd.prefix" value="p2/crm" />
        <add key="sd.token" value="" /> <!-- указывать пустой, если токен не требуется -->

        <add key="sd.address" value="http://172.21.13.84:8500/" />
        <add key="sd.prefix" value="ass/crm" />
        <add key="sd.token" value="" /> <!-- указывать пустой, если токен не требуется -->
        
        <!-- <add key="sd.address" value="http://127.0.0.1:8500" /> -->
        <!-- <add key="sd.prefix" value="crm" /> -->
        <!-- <add key="sd.token" value="" />  -->

        <!-- <add key="sd.address" value="http://127.0.0.1:8500/" /> -->
        <!-- <add key="sd.prefix" value="crm" /> -->
        <!-- <add key="sd.token" value="" />  -->      
    </appSettings>
</configuration>