<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="allowableStages" value="low,ass,mid,prod"/>
        <add key="fileConfig.base.fileName" value="configs"/>
        <add key="fileConfig.base.ext" value="json"/>
        <add key="showValuesToClient" value="false"/>

        <add key="sd.address.low" value="http://172.21.13.84:8500/" />
        <add key="sd.prefix.low" value="p2/crm" />
        <add key="sd.token.low" value="" /> <!-- указывать пустой, если токен не требуется -->

        <add key="sd.address.ass" value="http://172.21.13.84:8500/" />
        <add key="sd.prefix.ass" value="ass/crm" />
        <add key="sd.token.ass" value="" /> <!-- указывать пустой, если токен не требуется -->
        
        <add key="sd.address.mid" value="http://127.0.0.1:8500" />
        <add key="sd.prefix.mid" value="crm" />
        <add key="sd.token.mid" value="" /> <!-- указывать пустой, если токен не требуется -->

        <add key="sd.address.prod" value="http://127.0.0.1:8500/" />
        <add key="sd.prefix.prod" value="crm" />
        <add key="sd.token.prod" value="" /> <!-- указывать пустой, если токен не требуется --> 
    </appSettings>
</configuration>